.section {
  padding-top: 32px;
  padding-bottom: 32px;
  scroll-margin-top: 64px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    scroll-margin-top: 104px;
  }
}

.section_title {
  margin-bottom: 32px;
  color: $_add_text_color;
  text-align: center;
  font-size: 28px;
  line-height: 1.14;

  @include media(desktop){
    margin-bottom: 48px;
    font-size: 48px;
  }
}
