$_main_text_color: #232222;
$_add_text_color: #000000;

$_main_bg_color: #e8f8fa;
$_add_bg_color: #ffffff;

$_play_color_1: #0f8bf9;
$_play_color_2: #c06754;
$_play_color_3: #ffbf01;
$_play_color_4: #9b6e40;
$_play_color_5: #8d4d3d;
$_play_color_6: #e64238;

$_button: #080808;

$_transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
