<section class="section about" id="about">
  <div class="container about_container">
    <h2 class="section_title">About this game</h2>
    <ul class="about_list">
      <li class="about_item">
        <img
          src="../img/about_1.webp"
          alt="Santa and deer play game"
          width="288"
          class="about_img"
        />
        <p class="about_text">
          In "Puppy Diary," players enter a world where they can help cute pets
          through engaging puzzle challenges.
        </p>
      </li>
      <li class="about_item even_item">
        <img
          src="../img/about_2.webp"
          alt="Witch and deer play game"
          width="288"
          class="about_img"
        />
        <p class="about_text">
          Each level is designed to be not only fun but also rewarding, as
          players use their skills to heal and help adorable animals.
        </p>
      </li>
    </ul>
  </div>
</section>
