<section class="benefits">
  <h2>Benefits</h2>
  <ul class="benefits_list">
    <li class="benefits_item">
      <svg class="" width="204" height="28">
        <use href="../img/sprite.svg#icon-stars_all"></use>
      </svg>
      <p class="benefits_text">4,8<br />Stars</p>
    </li>

    <li class="benefits_item second">
      <div>
        <svg class="" width="28" height="28">
          <use href="../img/sprite.svg#icon-download"></use>
        </svg>
        <p class="benefits_text">50 000 +<br />Downloads</p>
      </div>
      <div>
        <svg class="" width="28" height="28">
          <use href="../img/sprite.svg#icon-book"></use>
        </svg>
        <p class="benefits_text">1000 +<br />Reviews</p>
      </div>
    </li>

    <li class="benefits_item">
      <svg class="" width="28" height="28">
        <use href="../img/sprite.svg#icon-energy"></use>
      </svg>
      <p class="benefits_text">Play<br />Online/Offline</p>
    </li>
  </ul>
</section>
