<section class="disclaimer">
  <div class="container disclaimer_wrap_warning">
    <h2 class="visually-hidden">Disclaimer</h2>
    <svg width="48" height="58" class="disclaimer_icon_warning">
      <use href="./img/sprite.svg#icon-warning"></use>
    </svg>
    <p class="disclaimer_text_warning">
      OLYMPUSLUCKYGAME.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
      WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN
      REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF
      AGE. ENJOY PLAYING THIS GAME!
    </p>
  </div>
</section>