<footer class="footer">
  <div class="container">
    <a href="./index.html" rel="noopener noreferrer nofollow">
      <img
        src="./img/logo.webp"
        alt="Logo"
        width="52"
        height="35"
        class="footer_logo"
      />
    </a>

    <a
      href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="footer_link footer_link_mobile"
    >
      <img
        src="./img/google_play_logo.svg"
        alt="Logo google play"
        width="21"
        height="24"
        class="footer_icon-logo"
      />
      <div class="footer_google_wrap">
        <p class="footer_btn_text">GET IT ON</p>
        <svg width="74" height="15" class="footer_icon">
          <use href="./img/sprite.svg#icon-google_play"></use>
        </svg>
      </div>
    </a>

    <nav class="footer_navigation">
      <ul class="footer_nav_list first">
        <li class="footer_nav_item">
          <a href="./index.html#hero" class="footer_nav_link">Home</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#benefits" class="footer_nav_link">Benefits</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#about" class="footer_nav_link"
            >About this game</a
          >
        </li>
      </ul>
      <a
        href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="footer_link footer_link_desk"
      >
        <img
          src="./img/google_play_logo.svg"
          alt="Logo google play"
          width="21"
          height="24"
          class="footer_icon-logo"
        />
        <div class="footer_google_wrap">
          <p class="footer_btn_text">GET IT ON</p>
          <svg width="74" height="15" class="footer_icon">
            <use href="./img/sprite.svg#icon-google_play"></use>
          </svg>
        </div>
      </a>
      <ul class="footer_nav_list second">
        <li class="footer_nav_item">
          <a href="./index.html#reviews" class="footer_nav_link">Reviews</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#play" class="footer_nav_link">How to play</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#gallery" class="footer_nav_link">Gallery</a>
        </li>
      </ul>
    </nav>

    <div class="policy_links">
      <a href="./policy.html">Privacy policy</a>
      <a href="./terms.html"> / Terms and conditions</a>
      <p class="copyright">All rights reserved olympusluckygame.com | 2024</p>
    </div>
  </div>
</footer>
