<footer class="footer">
  <div class="container">
    <a href="./index.html" rel="noopener noreferrer nofollow">
      <img
        src="../img/logo.webp"
        alt="Logo"
        width="52"
        height="35"
        class="footer_logo"
      />
    </a>

    <a
      href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="footer_link footer_link_mobile"
    >
      <svg
        class="footer_icon-logo"
        width="21"
        height="24"
        viewBox="0 0 41 47"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_ii_165_1182)">
          <path
            d="M1.25966 0.756791C0.750518 1.31889 0.449577 2.19124 0.449577 3.32092V43.6826C0.449577 44.8141 0.750518 45.6846 1.25966 46.2467L1.38914 46.3781L23.0655 23.7682V23.5018V23.2353L1.38914 0.623566L1.25966 0.756791Z"
            fill="url(#paint0_linear_165_1182)"
          />
          <path
            d="M30.2897 31.3073L23.0654 23.7682V23.5018V23.2353L30.2915 15.6981L30.4542 15.7948L39.0152 20.8683C41.4595 22.3173 41.4595 24.688 39.0152 26.1389L30.4542 31.2124L30.2897 31.3073Z"
            fill="url(#paint1_linear_165_1182)"
          />
          <g filter="url(#filter1_i_165_1182)">
            <path
              d="M30.4542 31.2106L23.0637 23.5018L1.25964 46.2467C2.06448 47.1373 3.39596 47.2468 4.89541 46.3599L30.4542 31.2106Z"
              fill="url(#paint2_linear_165_1182)"
            />
          </g>
          <path
            d="M30.4542 15.793L4.89541 0.645472C3.39596 -0.243303 2.06448 -0.131977 1.25964 0.758623L23.0655 23.5036L30.4542 15.793Z"
            fill="url(#paint3_linear_165_1182)"
          />
        </g>
        <defs>
          <filter
            id="filter0_ii_165_1182"
            x="0.449577"
            y="0.032135"
            width="40.3988"
            height="46.9404"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="-0.15" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"
            />
            <feBlend
              mode="normal"
              in2="shape"
              result="effect1_innerShadow_165_1182"
            />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="0.15" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="effect1_innerShadow_165_1182"
              result="effect2_innerShadow_165_1182"
            />
          </filter>
          <filter
            id="filter1_i_165_1182"
            x="1.25964"
            y="23.5018"
            width="29.1946"
            height="23.4707"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="-0.15" />
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
            />
            <feBlend
              mode="normal"
              in2="shape"
              result="effect1_innerShadow_165_1182"
            />
          </filter>
          <linearGradient
            id="paint0_linear_165_1182"
            x1="21.144"
            y1="2.89387"
            x2="-9.45591"
            y2="32.2303"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#00A0FF" />
            <stop offset="0.0066" stop-color="#00A1FF" />
            <stop offset="0.2601" stop-color="#00BEFF" />
            <stop offset="0.5122" stop-color="#00D2FF" />
            <stop offset="0.7604" stop-color="#00DFFF" />
            <stop offset="1" stop-color="#00E3FF" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_165_1182"
            x1="42.1969"
            y1="23.5018"
            x2="-0.137288"
            y2="23.5018"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFE000" />
            <stop offset="0.4087" stop-color="#FFBD00" />
            <stop offset="0.7754" stop-color="#FFA500" />
            <stop offset="1" stop-color="#FF9C00" />
          </linearGradient>
          <linearGradient
            id="paint2_linear_165_1182"
            x1="26.4407"
            y1="27.6881"
            x2="-15.0566"
            y2="67.4721"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FF3A44" />
            <stop offset="1" stop-color="#C31162" />
          </linearGradient>
          <linearGradient
            id="paint3_linear_165_1182"
            x1="-4.23179"
            y1="-12.6774"
            x2="14.2979"
            y2="5.08723"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#32A071" />
            <stop offset="0.0685" stop-color="#2DA771" />
            <stop offset="0.4762" stop-color="#15CF74" />
            <stop offset="0.8009" stop-color="#06E775" />
            <stop offset="1" stop-color="#00F076" />
          </linearGradient>
        </defs>
      </svg>
      <div class="footer_google_wrap">
        <p class="footer_btn_text">GET IT ON</p>
        <svg width="74" height="15" class="footer_icon">
          <use href="./img/sprite.svg#icon-google_play"></use>
        </svg>
      </div>
    </a>

    <nav class="footer_navigation">
      <ul class="footer_nav_list first">
        <li class="footer_nav_item">
          <a href="./index.html#hero" class="footer_nav_link">Home</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#benefits" class="footer_nav_link">Benefits</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#about" class="footer_nav_link"
            >About this game</a
          >
        </li>
      </ul>
      <a
        href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="footer_link footer_link_desk"
      >
        <svg
          class="footer_icon-logo"
          width="21"
          height="24"
          viewBox="0 0 41 47"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_ii_165_1182)">
            <path
              d="M1.25966 0.756791C0.750518 1.31889 0.449577 2.19124 0.449577 3.32092V43.6826C0.449577 44.8141 0.750518 45.6846 1.25966 46.2467L1.38914 46.3781L23.0655 23.7682V23.5018V23.2353L1.38914 0.623566L1.25966 0.756791Z"
              fill="url(#paint0_linear_165_1182)"
            />
            <path
              d="M30.2897 31.3073L23.0654 23.7682V23.5018V23.2353L30.2915 15.6981L30.4542 15.7948L39.0152 20.8683C41.4595 22.3173 41.4595 24.688 39.0152 26.1389L30.4542 31.2124L30.2897 31.3073Z"
              fill="url(#paint1_linear_165_1182)"
            />
            <g filter="url(#filter1_i_165_1182)">
              <path
                d="M30.4542 31.2106L23.0637 23.5018L1.25964 46.2467C2.06448 47.1373 3.39596 47.2468 4.89541 46.3599L30.4542 31.2106Z"
                fill="url(#paint2_linear_165_1182)"
              />
            </g>
            <path
              d="M30.4542 15.793L4.89541 0.645472C3.39596 -0.243303 2.06448 -0.131977 1.25964 0.758623L23.0655 23.5036L30.4542 15.793Z"
              fill="url(#paint3_linear_165_1182)"
            />
          </g>
          <defs>
            <filter
              id="filter0_ii_165_1182"
              x="0.449577"
              y="0.032135"
              width="40.3988"
              height="46.9404"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="-0.15" />
              <feComposite
                in2="hardAlpha"
                operator="arithmetic"
                k2="-1"
                k3="1"
              />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"
              />
              <feBlend
                mode="normal"
                in2="shape"
                result="effect1_innerShadow_165_1182"
              />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="0.15" />
              <feComposite
                in2="hardAlpha"
                operator="arithmetic"
                k2="-1"
                k3="1"
              />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="effect1_innerShadow_165_1182"
                result="effect2_innerShadow_165_1182"
              />
            </filter>
            <filter
              id="filter1_i_165_1182"
              x="1.25964"
              y="23.5018"
              width="29.1946"
              height="23.4707"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="-0.15" />
              <feComposite
                in2="hardAlpha"
                operator="arithmetic"
                k2="-1"
                k3="1"
              />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
              />
              <feBlend
                mode="normal"
                in2="shape"
                result="effect1_innerShadow_165_1182"
              />
            </filter>
            <linearGradient
              id="paint0_linear_165_1182"
              x1="21.144"
              y1="2.89387"
              x2="-9.45591"
              y2="32.2303"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#00A0FF" />
              <stop offset="0.0066" stop-color="#00A1FF" />
              <stop offset="0.2601" stop-color="#00BEFF" />
              <stop offset="0.5122" stop-color="#00D2FF" />
              <stop offset="0.7604" stop-color="#00DFFF" />
              <stop offset="1" stop-color="#00E3FF" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_165_1182"
              x1="42.1969"
              y1="23.5018"
              x2="-0.137288"
              y2="23.5018"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FFE000" />
              <stop offset="0.4087" stop-color="#FFBD00" />
              <stop offset="0.7754" stop-color="#FFA500" />
              <stop offset="1" stop-color="#FF9C00" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_165_1182"
              x1="26.4407"
              y1="27.6881"
              x2="-15.0566"
              y2="67.4721"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FF3A44" />
              <stop offset="1" stop-color="#C31162" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_165_1182"
              x1="-4.23179"
              y1="-12.6774"
              x2="14.2979"
              y2="5.08723"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#32A071" />
              <stop offset="0.0685" stop-color="#2DA771" />
              <stop offset="0.4762" stop-color="#15CF74" />
              <stop offset="0.8009" stop-color="#06E775" />
              <stop offset="1" stop-color="#00F076" />
            </linearGradient>
          </defs>
        </svg>
        <div class="footer_google_wrap">
          <p class="footer_btn_text">GET IT ON</p>
          <svg width="74" height="15" class="footer_icon">
            <use href="./img/sprite.svg#icon-google_play"></use>
          </svg>
        </div>
      </a>
      <ul class="footer_nav_list second">
        <li class="footer_nav_item">
          <a href="./index.html#reviews" class="footer_nav_link">Reviews</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#play" class="footer_nav_link">How to play</a>
        </li>
        <li class="footer_nav_item">
          <a href="./index.html#gallery" class="footer_nav_link">Gallery</a>
        </li>
      </ul>
    </nav>

    <div class="policy_links">
      <a href="./policy.html">Privacy policy</a>
      <a href="./terms.html"> / Terms and conditions</a>
      <p class="copyright">All rights reserved olympusluckygame.com | 2024</p>
    </div>
  </div>
</footer>
