<section class="section gallery" id="gallery">
  <div class="container">
    <h2 class="section__title">Gallery</h2>
  </div>
  <div class="gallery_slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="../img/gallery_1.webp"
            alt="Fragment of the game"
            width="170"
            height="365"
            class="gallery_img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../img/gallery_2.webp"
            alt="Fragment of the game"
            width="170"
            height="365"
            class="gallery_img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../img/gallery_3.webp"
            alt="Fragment of the game"
            width="170"
            height="365"
            class="gallery_img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../img/gallery_4.webp"
            alt="Fragment of the game"
            width="170"
            height="365"
            class="gallery_img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../img/gallery_5.webp"
            alt="Fragment of the game"
            width="170"
            height="365"
            class="gallery_img"
          />
        </div>
      </div>
    </div>
    <div class="gallery_btn">
      <button class="btn-prev">
        <svg width="38" height="38" class="gallery_icon">
          <use href="./img/sprite.svg#icon-arrow_prev"></use>
        </svg>
      </button>
      <button class="btn-next">
        <svg width="38" height="38" class="gallery_icon">
          <use href="./img/sprite.svg#icon-arrow_next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
