<header class="header">
  <div class="container header_flex">
    <a href="./index.html" rel="noopener noreferrer nofollow">
      <img
        src="../img/logo.webp"
        alt="Logo"
        width="52"
        height="27"
        class="logo"
      />
    </a>
    <button
      type="button"
      class="open_menu"
      aria-expanded="false"
      aria-controls="mobile_menu"
      aria-label="Open navigation menu"
    >
      <svg class="" width="34" height="26">
        <use href="./img/sprite.svg#icon-burger_menu"></use>
      </svg>
    </button>
    <div class="nav_desktop">
      <nav class="mobile_navigation">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="./index.html#hero" class="nav_link">Home</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#benefits" class="nav_link">Benefits</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#about" class="nav_link">About this game</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#reviews" class="nav_link">Reviews</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#play" class="nav_link">How to play</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#gallery" class="nav_link">Gallery</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="backdrop is-open" data-modal>
    <div class="menu_container" id="mobile_menu">
      <button
        type="button"
        class="close_menu"
        aria-label="Сlose navigation menu"
      >
        <svg width="26" height="26">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile_navigation">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="./index.html#hero" class="nav_link">Home</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#benefits" class="nav_link">Benefits</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#about" class="nav_link">About this game</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#reviews" class="nav_link">Reviews</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#play" class="nav_link">How to play</a>
          </li>
          <li class="nav_item">
            <a href="./index.html#gallery" class="nav_link">Gallery</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
