<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero_title">His Vacation: Fun Match 3 Game</h1>
    <p class="hero_description">Puzzle, play, heal—every pet's dream!</p>
    <a
      href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hero_link"
    >
      <!-- <img
        src="../img/google_play_logo.svg"
        alt="Logo google play"
        width="21"
        height="24"
        class="hero_icon-logo"
      /> -->
      <div>
        <p class="hero_btn_text">GET IT ON</p>
        <svg width="74" height="15" class="hero_icon">
          <use href="./img/sprite.svg#icon-google_play"></use>
        </svg>
      </div>
    </a>
  </div>
</section>
