<section class="hero">
  <div class="container">
    <h1 class="hero_title">His Vacation: Fun Match 3 Game</h1>
    <p class="hero_description">Puzzle, play, heal—every pet's dream!</p>
    <a
      href="https://play.google.com/store/apps/details?id=com.mobowl.christmasmagic.aos"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="hero_link"
    >
      <svg width="120" height="40" class="hero_icon">
        <use href="./img/sprite.svg#icon-google_play"></use>
      </svg>
    </a>
  </div>
</section>
