<section class="section reviews">
  <div class="container">
    <h2 class="section_title">Reviews</h2>
    <ul class="reviews_list">
      <li class="reviews_item">
        <svg width="204" height="28" class="reviews_icon">
          <use href="../img/sprite.svg#icon-stars_all"></use>
        </svg>
        <p class="reviews_text">Challenging puzzles that keep me coming back. It's fun and feels good to help the pets.</p>
        <p class="review_author">PuzzleProJack</p>
      </li>
      <li class="reviews_item">
        <svg width="204" height="28" class="reviews_icon">
          <use href="../img/sprite.svg#icon-stars_all"></use>
        </svg>
        <p class="reviews_text">The game is so sweet and the pets are too cute! It’s relaxing and rewarding to play</p>
        <p class="review_author">AnimalFriendLea</p>
      </li>
      <li class="reviews_item">
        <svg width="204" height="28" class="reviews_icon">
          <use href="../img/sprite.svg#icon-stars_all"></use>
        </svg>
        <p class="reviews_text">It's a unique twist to have a game where your gameplay actually 'heals' pets. Very creative and emotionally engaging.</p>
        <p class="review_author">HealerHannah</p>
      </li>
      <li class="reviews_item">
        <svg width="204" height="28" class="reviews_icon">
          <use href="../img/sprite.svg#icon-stars_four"></use>
        </svg>
        <p class="reviews_text">Adorable graphics and really touching pet stories! Love how each puzzle helps a pet.</p>
        <p class="review_author">PetLoverSam</p>
      </li>
  </div>
</section>