.benefits_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
    justify-content: center;

  @include media (desktop) {
  flex-direction: row;
  }
}

.benefits_item {
  text-align: center;
}

.benefits_item.second {
  display: flex;
  gap: 16px;
}

.benefits_text {
  margin-top: 16px;
}