.disclaimer {
  padding-top: 32px;
  padding-bottom: 39px;
  @include media(desktop) {
    padding-top: 35px;
    padding-bottom: 24px;
  }
}

.disclaimer_wrap_warning {
  text-align: center;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
}

.disclaimer_icon_warning {
  @include media(desktop) {
    width: 70px;
    height: 70px;
  }
}

.disclaimer_text_warning {
  width: 288px;
  text-align: left;
  @include font(14, 18);
  text-transform: uppercase;

  @include media(desktop) {
    width: 1162px;
    margin-top: 0px;
    @include font(20, 28);
  }
}
