.gallery {
  background-color: $_add_bg_color;
  position: relative;
}

.gallery_slider {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  @include media(desktop) {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.swiper-slide .gallery_img {
  width: 150px !important;
  height: 287px !important;
  @include media(desktop) {
    width: 220px !important;
    height: 424px !important;
  }
}

.swiper-slide {
  //   width: 150px !important;
  //   height: 287px !important;
  @include media(desktop) {
    width: 220px !important;
    height: 424px !important;
  }
}

.swiper-slide.swiper-slide-active .gallery_img {
  width: 170px !important;
  height: 365px !important;
  @include media(desktop) {
    width: 320px !important;
    height: 612px !important;
  }
}

.swiper-slide-active {
  width: 170px !important;
  height: 365px !important;
  @include media(desktop) {
    width: 320px !important;
    height: 612px !important;
  }
}

.swiper-wrapper {
  align-items: center;
}

.btn-next {
  width: 44px;
  height: 44px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  //   margin-right: 16px;
}

.btn-prev {
  width: 44px;
  height: 44px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  //   margin-left: 16px;
}

.gallery_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.gallery_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
