.play {
  background-color: $_add_bg_color;
}

.play_list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.play_item {
  position: relative;
  text-align: center;
}

.play_icon {
  width: 283px;
  height: 138px;
}

.play_icon_1 {
  color: $_play_color_1;
  width: 283px;
  height: 177px;

  @include media(desktop) {
    width: 530px;
    height: 343px;
  }
}

.play_icon_2 {
  color: $_play_color_2;
}

.play_img {
  width: 226px;
  height: 125px;
  border-radius: 64px;

  position: absolute;
    top: 35px;
    left: 21px;

  @include media(desktop) {
    width: 424px;
    height: 241px;
  }
}

.play_text {
  width: 215px;
  text-align: left;

  position: absolute;
    top: 42px;
    left: 39px;
}

.play_text > span {
  font-weight: 700;
}
