@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './about.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';

@import './policy.scss';
@import './terms.scss';

@import './common/container';
@import './common/section';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $_main_bg_color;
  color: $_main_text_color;

  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}
